/* --------------------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------------------- */
/* background-color: #08e1ae;
background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #555555;
    background-color: white;
    text-rendering: optimizeLegibility;
}

/* --------------------------------------------------------- */
/* RESUABLE COMPONENTS */
/* --------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    background-color: #27ae60;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 10px;
    color: white;
    border-radius: 100px;
    font-weight: 300;
    border: 1px solid #27ae60;
    transition: 0.2s;

}

.btn-ghost {
    background-color: transparent;
    color: #27ae60;
}

.btn:active, 
.btn:hover {
    background-color: #219251;
    border: 1px solid #219251;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: white;
}

/* -----PARAGRAPH----- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}

section {
    padding: 80px 0;
}

section .row {
    margin-top: 20px;
}

/* --------------------------------------------------------- */
/* HEADER */
/* --------------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0 , 0 ,0.7),rgba(0, 0 , 0 ,0.7)), url(/resources/css/img/backdrop.jpg);
    height: 100vh;
    background-position: 40% 40%;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, 
h2, 
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1 {
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    letter-spacing: 0px;
    margin-bottom: 15px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #27ae60;
    width: 30%;
    content: " ";
    margin: 30px auto 0 auto;
}

.logo {
    filter: brightness(0) invert(1);
    width: 100px;
    margin-top: 20px;
    float: left;
}

.main-nav {
    float: right;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 40px;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding-bottom: 8px;
    font-size: 80%;
    transition: 0.2s;
    letter-spacing: 1px;
}

.main-nav li a:active,
.main-nav li a:hover {
    border-bottom: 2px solid #27ae60;
}